:host {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: solid 1px var(--tertiary-color);
}

:host .brand-name {
  font-family: var(--secondary-font-family);
  text-decoration: none;
  color: var(--white);
  font-size: x-large;
  font-weight: bold;
}

.hunt-span {
  font-family: var(--secondary-font-family);
  background-color: var(--secondary-color);
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: bold;
}

.search-group {
  width: 40%;
  display: flex;
  align-items: center;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
}

.search-input {
  width: 90%;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: var(--padding);
  margin-right: 0;
  outline: none;
}

.fa-search {
  color: var(--secondary-color);
  padding-right: 10px;
}
.fa-sign-out {
  display: none;
}

@media (max-width: 700px) {
  .logout-button {
    display: none;
  }
  .fa-sign-out {
    display: block;
  }
  .search-group {
    display: none;
  }
}
