:host {
  background-color: var(--primary-color);
  border-right: solid 1px var(--tertiary-color);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
  border-bottom: solid 1px var(--tertiary-color);
}

.container-title {
  display: block;
  font-size: medium;
  margin-bottom: 20px;
  font-weight: 600;
}
.container-body {
  border: solid 1px var(--tertiary-color);
  padding: 10px;
  border-radius: 10px;
}
.container i {
  margin: 0px 10px;
}
