@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

@font-face {
  font-family: myFirstFont;
  src: url("/Users/ragulb/angular-workspace/house-hunt/src/assets/fonts/chiaroscura-trial");
}
:root {
  --fav1: #fafafa;
  --darkgray: #1b1b1b;
  --lightgray: #606060;

  --ratings-color: #eab300;
  /* --heart-color: #ff2164; */
  --heart-color: rgb(200, 0, 0);

  --tertiary-color: #d0d0d0;
  --secondary-color: #000000;
  --primary-color: #ffffff;

  --danger-primary: #a42020;
  --danger-secondary: #ffdddd;
  --success-primary: #00796b;
  --success-secondary: #ddffdd;
  --info-primary: #6aa1d4;
  --info-secondary: #e7f3fe;
  --warning-primary: #967205;
  --warning-secondary: #fff3cd;

  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: myFirstFont;

  --font-size: 16px;
  --padding: 10px;
  --button-padding: 10px 20px;
  --header-height: 40px;
  --max-width: 500px;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  font-family: var(--primary-font-family);
}
.button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--button-padding);
  border-radius: 10px;
  border: solid 1px var(--secondary-color);
  transition: background-color 0.3s, border 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.button:active {
  opacity: 0.7;
}

.note {
  display: block;
  padding: 10px;
}
.note-danger {
  border-left: 5px solid var(--danger-primary);
  background-color: var(--danger-secondary);
}
.note-success {
  border-left: 5px solid var(--success-primary);
  background-color: var(--success-secondary);
}
.note-info {
  border-left: 5px solid var(--info-primary);
  background-color: var(--info-secondary);
}
.note-warning {
  border-left: 5px solid var(--warning-primary);
  background-color: var(--warning-secondary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
